/* Large Tablet Devices */
@media only screen
and (max-width : 1600px) {
}

@media only screen
and (max-width : 1500px) {
}


@media only screen
and (max-width : 1400px) {
  /*Header Area*/
  .header_con { }
  .main_logo{ left: 10px;}
  /*Nav Area*/
  .page_nav { }
  .page_nav ul { }
  .page_nav ul li a { }
  /*Banner Area*/
  .bnr_info {}

  /* .non_ban {  }
  .non_ban figure img { position: absolute; top: 0; left: 50%; -ms-transform: translateX(-50%); -webkit-transform: translateX(-50%); transform: translateX(-50%); max-width: initial; } */

  /*Middle Area*/
  .middle_con { }
  /*Main Area*/
  .main_con { }
  /*Bottom Area*/
  .btm1_con { }
  
  .btm2_con { }

  .btm3_form_con{ }
  /*Footer Area*/
  .footer_top_con { }

  .footer_btm_con { }
  .footer_nav ul li a { }

  /* NH STYLES */
  .services_box ul li{width: 32%;}
}

@media only screen
and (max-width : 1300px) {
  /*Header Area*/

  /*Nav Area*/
  .page_nav ul li a { }
  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/
  .footer_nav ul li a { }
}
@media only screen
and (max-width : 1200px) {
  /*Header Area*/

  /*Nav Area*/
  .page_nav ul li a { }
  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/
  main .h1_title{font-size: 50px;}
  /*Bottom Area*/
  .btm1_boxes .slick-prev{top: 107%;left: -60px;right: 0;margin: 0 auto;line-height: 100%;}
  .btm1_boxes .slick-next{top: 107.5%;/*! left: 48%; *//*! transform: translateX(-50%); */left: 0;right: -60px;margin: 0 auto;}
  /*Footer Area*/
  .footer_nav ul li a { }

    /* Non Home Styles */
    .serv_boxes section h2 { font-size: 20px; }
    .serv_box ul li figure figcaption { font-size: 20px; }
}
@media only screen
and (max-width : 1100px) {
  html, body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
  }
  /*Header Area*/

  /*Nav Area*/
  .page_nav ul li a { }
  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/
  
  /*Footer Area*/
  .footer_nav ul li a { }

  /* NH STYLES */
  .services_box ul li h2{font-size: 17px;}
  .serv_box ul li figure figcaption{font-size:18px;}
}

@media only screen
and (max-width : 1024px) {
   /* Nav Area Sub-Menu Style */
   .page_nav ul li.menu-item-has-children > span{display:block;font-size: 17px;left:50%; transform: translateX(-50%); top:30px;position:absolute; color: var(--black);}
   .page_nav ul ul li.menu-item-has-children > span{left: 0; right: auto; transform: translateY(-50%); line-height: 100%; top: 50%;}
   .page_nav ul li:hover > ul{display: none;}
   .page_nav ul li.menu-item-has-children:hover ul { display: none; }
   /*banner*/
   .box_skitter{top:0!important;}
   .animated {animation-name: none!important; transform: none!important; opacity: 1!important;}
}

@media only screen
and (max-width : 1000px) {

  

  .animated {
    animation-name:none!important;
    transform:none!important;
    opacity:1!important;
    -webkit-transform:none!important;
    transform:none!important
   }
  /*Header Area*/
  header {padding: 40px 25px;background: rgba(0,0,0,0.80);}
  .header_con{min-height: 0;padding:0;display: flex;justify-content: space-between;align-items: center;}
  .header_holder { position: static; }
  .header_fix { position: static; }
  .main_logo{position: static;float: left;margin: 0 auto;max-width: 100%;transform: unset;width: 50%;}
  .head_info{text-align: right; align-items: flex-end;flex-direction: column;gap: 15px;}
  .header_info{ position: static;  align-items: flex-end;gap: 15px;flex-direction: column;}
  .social_media{margin-inline:auto; position: static;}
  .social_media ul {}
  .header_info section h3{}
  .header_info section h3::before{ position: static; display: block; margin-bottom: 15px;}
  .header_right_holder{flex-direction: column; align-items: flex-end; gap:15px;}
  .gtrans{transform-origin: right center;}
  /*Nav Area*/
  .header_info a { color: #333; }
  .page_nav_holder { display: block; }
  .page_nav {width:100%;float: none; clear: both;height:auto;transition:none;padding:25px 15px;margin:0 auto 0; background: var(--primaryColor);}
  .page_nav ul{ margin:0; padding:0 5px;text-align:center; position: static; display: block;}
  .page_nav ul li{width: 32%; margin:5px 3px;}
  .page_nav ul li:after{display:none;}
  .page_nav ul li a{outline:1px solid var(--black);border-radius:5px;line-height: 60px;height:auto;padding: 0; min-height: 0; display: block;color: var(--black);}
  .page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a{text-decoration: none;background:var(--black);color: var(--primaryColor);outline: unset;}
  .page_nav ul li.menu-item-has-children > span{right:0;top:15px; transform: unset; left: unset; color: var(--white);}
  .page_nav ul li a:hover::after, .page_nav ul li.current_page_item > a::after{display: none;}

  .page_nav ul ul, .page_nav ul ul li, .page_nav ul ul li a {width:100%; }
  .page_nav ul ul li{margin: 0 !important}
  .page_nav ul ul li a{ line-height: 45px; border: 1px solid var(--white);}
  .page_nav ul ul li:last-child a{border: 1px solid var(--white);}
  .page_nav ul ul{padding: 0;}

  /*Banner Area*/
  #banner{padding: 40px 25px;}
  #banner::before, #banner::after { display: none;}
  .bnr_con::before, .bnr_con::after { display: none;}
	.bnr_con{min-height:0;padding:0;}
	.box_skitter{display:none;}
	.slider{display:block;width:100%; margin: 0; transform: unset;max-width: 100%;}
  .slider:before {content: ''; position: absolute; width: 100%; height: 100%; z-index: 10; inset: 0; background: var(--black); opacity: 0.33;  }
  .box_skitter{display:none;}
  .rslides { display: block; z-index: 1;}
  .rslides2 { display: none;}
  
    .bnr_info{width:100%; border-radius: 0; position:static;padding:0;text-align: center;max-width: 100%;}
  .bnr_info a { margin: 0 auto; }
  .bnr_info p { width: 100%; max-width: 100%; padding: 0; margin-block: 30px;}
  .bnr_info h2 { width: 100%; font-size: 50px; max-width: 100%;  padding: 0; }
	/*NON-HOME*/
  .non_ban { height:auto; }
  .non_ban_img {width: 100%; margin:0; transform: unset;}
      .non_ban figure { width:185%; margin-left:-40%; position:static; -ms-transform:none; -webkit-transform:none; transform:none }
      .non_ban figure img { position:static; max-width:100%; position:static; top:auto; left:auto; -ms-transform:none; -webkit-transform:none; transform:none; }
      .page_title {position: relative; }
      .page_title:before{opacity: unset;}
     


  /*Middle Area*/
  #middle{padding: 40px 25px;}
	#middle:before, #middle:after { display: none; }
  .middle_con{min-height:0;padding:0; display: block;}
   .middle_info h2 { width: 100%; font-size: 50px;  max-width: 100%;padding: 0; }
   .middle_info p { width: 100%; max-width: 100%; padding: 0; margin-block: 30px;}
	  .middle_boxes{ margin-top: 40px; flex-wrap: wrap; justify-content: space-evenly; gap: 40px 15px; width: 100%; max-width: 100%; }
	  .middle_boxes section{ width: 100%;   }
    .middle_boxes section h2 { width: 100%; max-width: 100%; padding: 0; }
    .middle_boxes section h2:before { display: block; position: static; margin-bottom: 10px; }
    .middle_boxes section p { width: 100%; max-width: 100%; padding: 0; }
    .middle_boxes section a {}
 

  /*Main Area*/
  #main_area{padding:40px 25px; margin:0;min-height:0;}
  #main_area:after, #main_area:before { display: none; }
  .main_con{min-height:0;padding:0;display: block;}
  .main_flex { display: block; }
      main, .sidebar{float:none; margin: auto; width:100%; position: static;}
  main .h1_title {  }
      main{text-align: center;}
      .sidebar .sideboxes { justify-content: space-evenly; flex-wrap: wrap; gap: 30px; position: static; width: 100%; max-width: 100%; }
      .sideboxes section { width: 45%; padding: 40px 25px 80px; position: relative;}
      .sideboxes section h2 { width: 100%; max-width: 100%; padding: 0; }
      .sideboxes section p { width: 100%; max-width: 100%; }
      .sideboxes section a{}
      .sidebox { width: 400px; max-width: 100%; margin: 0 auto; }
      .sidebar{ margin-top: 40px; }
      main p{width: 100%;margin-block: 30px;max-width: 100%;}
      .intro_txt{width:100%;}

  /*Bottom Area*/
  #bottom1{padding: 40px 25px;}
  #bottom1:after,#bottom1:before { display: none; }
	 .btm1_con{min-height:0;padding:0;display: block;}
	  .btm1_boxes{ position: static; flex-wrap: wrap; width: 100%; justify-content: space-evenly; gap: 40px 15px; margin-top: 40px; max-width: 100%; }
	  .btm1_boxes section {  text-align: center;  max-width: 100%; }
    .btm1_boxes section h2 { width: 100%; padding: 0; max-width: 100%; margin-bottom: 25px; }
    .btm1_boxes section h2:before { display: block; position: static; margin-bottom: 10px; }
    .btm1_boxes section a {}
    .btm1_boxes section a:hover {}
    #bottom1::before { display: none; }
  #bottom1::after { display: none; }
  .btm1_info { position: static; width: 100%; text-align: center; max-width: 100%; padding: 0; margin: 0; }
  .btm1_info h2 { font-size: 50px; width: 100%;  max-width: 100%; padding: 0; }
  .btm1_info p { width: 100%; max-width: 100%; padding: 0;  margin-block: 30px;}
  .btm1_info a { margin: 0 auto; }
  

#bottom2{padding: 40px 25px;}
#bottom2:before, #bottom2:after { display: none; }
.btm2_con{min-height:0;padding:0;display: block;}
.btm2_form_con{}
.btm2_boxes{ flex-wrap: wrap; row-gap: 40px; justify-content: space-evenly; margin-top: 40px; position: static; width: 100%; max-width: 100%; }
.btm2_boxes section { max-width: 100%; width: 45%; text-align: center; padding: 40px 25px 80px; }
.btm2_boxes section h2 { padding: 0; margin-bottom: 20px; width: 100%; max-width: 100%; }
.btm2_boxes section a{}
.btm2_boxes section a:hover{}
.btm2_info h2 { font-size: 50px; width: 100%; max-width: 100%; margin: 0 0 30px; }
.btm2_info p { width: 100%; }
.btm2_form_parent { width: 100%; position: static; margin-top: 25px; }
.btm2_info { width: 100%; text-align: center; max-width: 100%; padding: 0; margin: 0; position: static; }
.captcha_div { justify-content: center; }
.btm2_form_parent form { justify-content: space-evenly; column-gap: 10px; row-gap: 15px; }
.btm2_form_parent form input { width: 49%; }
.btm2_form_parent form textarea { width: 100%; }
.btm2_boxes section h2::before{position: static;display: block;margin-bottom: 15px;}
.form_bottom{flex-direction: column;row-gap: 15px;}
    
    #bottom4{padding: 40px 25px;}
    #bottom4:after,#bottom4:before { display: none; }
    .btm4_con{min-height:0;padding:0;display: block;}
    .btm4_info { width: 100%; max-width: 100%; padding: 0; margin: 0; position: static; }
     .btm4_boxes { flex-wrap: wrap; row-gap: 40px; justify-content: space-evenly; margin: 40px 0 0; width: 100%; position: static; }
     .btm4_boxes section{ width: 45%; max-width: 100%; }
     .btm4_boxes section h2 { padding: 0; margin-bottom: 20px; width: 100%; max-width: 100%; }
     .btm4_boxes section a{}
     .btm4_boxes section a:hover{}
     .btm4_form_parent form { justify-content: space-evenly; column-gap: 10px; row-gap: 15px; }
     .btm4_form_parent form input { width: 49%; }
     .btm4_form_parent form textarea { width: 100%; }

     .disclaimer{position: static; order: 4; margin: 5px 0; text-align: left;}
     .disclaimer p {justify-content: center;}
     .button_flex{order: 5; width: max-content; max-width: 100%;}

  .btm6_con { padding: 0; }
  #bottom5 { padding: 40px 25px; }
  .btm5_con { padding: 0; min-height: 0; }
  #bottom6 {  background: none; padding: 40px 25px; }
  #bottom6::before {  display: none;}
  /*Footer Area*/
  footer{}
    .footer_top{height:auto;padding: 40px 25px;}
	  .footer_top_con{min-height:0;padding:0;display: block;}
    .footer_top:after,.footer_top:before { display: none; }
    .gmap{width:100%; max-width: 100%; height: 350px; position: static;}
	   .contact_con{width:100%;float:none;text-align:center;margin:0 auto;max-width: 100%;}
     .contact_info{width:100%; max-width: 100%;}
     .contact_info_ul {width:100%; max-width: 100%;}
     .contact_info h2 { font-size: 50px; width: 100%; max-width: 100%; margin-bottom: 25px; }
	   .contact_info p { width: 100%; max-width: 100%; }
     .contact_info a {}
     .contact_con ul{ flex-direction: row; flex-wrap: wrap; gap: 40px 15px; justify-content: space-evenly;  margin-block: 30px;}
	   .contact_con ul li{padding:0;}
	   .contact_con ul li:before{display:block;position:static;margin:0 auto 10px;transform: unset;}
     .footer_logo_holder { width: 300px; max-width: 100%;  margin: 25px auto; }
  .footer_logo { width: 100%; max-width: 100%;}
	  .footer_btm{height:auto;padding: 40px 25px;}
	  .footer_btm_con{min-height:0;padding:0; display: block; }
  .footer_nav { width: 100%; text-align: center; position: static; max-width: 100%; }
  .footer_nav ul { text-align: center; position: static; width: 100%; max-width: 100%; display: block; }
  	.footer_nav ul li{display:inline-block;vertical-align:top;width:32%; margin:5px 3px;}
  	.footer_nav ul li a{border:1px solid #fff;padding:0;line-height: 60px;border-radius: 5px;color: #fff;}
	.footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{text-decoration:none;background:var(--primaryColor);}
  	.footer_nav ul li:after{display:none;}
    .none{ display: none;}

  	.copyright{ float: none; margin: 25px auto 0; text-align: center; }
    .animated {animation-name: none !important;transform: none !important;opacity: 1 !important;}

 
     /* NH Styles */
     .cta { width: 78%; }
     .boxes_btn{ bottom: 30px; left:0; right: 0; margin:0 auto; top: unset;}
     .serv_boxes section { width: 48%; }
     .serv_box ul li {width: 45%; }
     .serv_box ul { justify-content: space-evenly; gap: 40px 15px; }
     .services_box ul li { width: 49%; }
     .serv_box ul li figure figcaption{font-size:22px;}
}


@media only screen
and (max-width : 800px) {
  .grid_col2 { display: block;}
  /* Header Area */
  header{}
  .header_fix{position: relative; z-index: 9999;}
	.main_logo{max-width: 100%; width: 45%;}
	.head_info{ width: 100%; max-width: 100%; margin:0 auto;text-align:center;padding:0;float:none;  align-items: center;}
	.header_info{margin:0 auto;text-align:center;padding:0;float:none; align-items: center;}
  .gtrans{transform-origin: center;}
	.social_media{}
  .header_right_holder{align-items: center;}
  /* Nav Area*/
  #nav_area{padding:25px 15px;background:var(--white);position:relative;}
  .nav_toggle_button{display:block;position:relative;}

	.page_nav {width: 280px;position: fixed;top: 0;right: -280px;height: 100%;transition: all 0.7s ease;overflow-y: auto;padding: 0 0 30px;opacity: 0;float: none; clear: both;z-index:250;}
	.page_nav ul{margin: 0; padding: 25px 15px;}
	.page_nav ul li{width: 100%; display: block; margin: 0 auto 5px;}
  .page_nav ul li a { }
  .page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a{text-decoration: none;}

	.page_nav ul ul{width: 95%; position: relative; transition: none; margin: 10px auto; transform: unset; inset: 0;}
	.page_nav ul ul li {border:none; width:100%; margin-block: 0 8px !important;}
  
  .page_title{font-size: 30px;border-radius: 0;}

  /* Toggle Style */
  .toggle_right_nav {position: fixed;top: 0;left: 0;right: 0;width:100%;height: 100%;z-index: 1000;visibility: hidden; transition: all 0.7s ease;}
  .toggle_nav_close {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
  .toggle_right_cont {visibility: visible;background: rgba(0,0,0,0.9);}
  nav.toggle_right_style {right: 0;opacity: 1;z-index: 45;}
  .logo_slide_right {display:block;float:left;width: calc(100% - 90px);}

  .menu_slide_right {display: block;text-align: left;padding: 20px 10px;background: #fff;position: relative;}

  /*Banner Area*/

  /*Middle Area*/


  /*Main Area*/
  main .h1_title { font-size: 43px;}
  main .h1_title::after { width: 80%;}

  /*Bottom Area*/
  .btm1_info p::before { width: 80%;}
  .btm2_form_parent form input{width: 100%;}

  /*Footer Area*/
  .contact_con{}
  .contact_con ul{  flex-direction: column;gap: 15px; align-items: center;}
  .contact_con ul li{display:block;}


  .footer_nav ul li{width:48%;}
  

    /* NH styles */
    .about_us_info::before { display: none; } 
    .about_us_info { width: 100%; }
    .serv_box ul li figure figcaption{font-size: 20px;}
    .nh_image{display: none;}

     /* DarkMode and Cookies Styles */
     .cky-btn-revisit-wrapper { z-index: 1000 !important; }
     .dracula-toggle-wrap.floating { z-index: 1000 !important; }
   

  /* Other */
  .thumb_right_dd, .thumb_left_dd{width: 250px;}
  .col3{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .sitemap{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
}

/* Smartphones */
@media only screen
and (max-width : 600px) {

  /*Header Area*/
.main_logo{filter: drop-shadow(0 0 .7px #fff)drop-shadow(0 0 .7px #fff);}
.gtrans{transform-origin: right center;}
.gtrans .gt-lang-code{right: 0 !important; color: unset; display: inline-block !important; vertical-align: middle !important;}
.gtrans .gt_float_switcher-arrow{position: static; display: inline-block !important; color: var(--bodyColor); text-align: unset; cursor: unset;}
.gtrans .gt_options{text-align: left;}

/*
header{padding:0;}
.social_media ul{padding: 0 !important;}
.social_media ul li{margin:0;}
.social_media ul li a{line-height: 100% !important;} */
  /*Nav Area*/

  /*Banner Area*/
  .non_ban figure{width: 195%;margin-left: -45%;}
  .rslides { display: none;}
  .rslides2 { display: block;}
/*   .slider{width: 1920px;max-width: 420%;margin-left: 25%;transform: translateX(-50%);}
  .bnr_info{padding: 0 15px 40px;background: transparent;position: relative;inset: 0;margin-top: -430px;}
  .bnr_info h2{}
  .bnr_info p{}
  .bnr_info a{} */


  /*Middle Area*/
  .middle_boxes section{}

  /*Main Area*/
  .sideboxes section { width: 400px; max-width: 100%; margin: 0 auto; display: block; }
  /*Bottom Area*/
  .btm1_boxes section{display:block;width: 400px; max-width: 100%; margin:0 auto;}

  .btm2_boxes section { display: block; width: 400px; max-width: 100%; margin: 0 auto; }
  .btm2_form_parent form input { width: 100%; }
  .btm2_form_parent form button {max-width: 100%; }

  .btm3_boxes section { display: block; width: 400px; max-width: 100%; margin: 0 auto; }
  
  .btm4_boxes section { display: block; width: 400px; max-width: 100%; margin: 0 auto; }
  .btm4_form_parent form input { width: 100%; }
  .btm4_form_parent form button { width: 330px; max-width: 100%; }
  .btm2_form_parent form input { width: 100%; }
  .btm2_form_parent form button {  max-width: 100%; }
  .captcha_div { flex-wrap: wrap; justify-content: center; gap: 20px; }
  /*Footer Area*/
  footer {padding-bottom: 45px;}

  .footer_nav ul li{display:block;vertical-align:top;width:100%;}
  .footer_nav ul li a{margin:5px auto;}
  .button_flex{ height: auto; flex-direction: column; align-items: center; width: 100%; row-gap: 15px;}
  

  .copyright q { display: block; line-height: 0; font-size: 0; }
  .copyright q:before { display: none; }
  .footer_comp{display:block;margin:0 auto;padding:0;}
  .footer_comp:before, .footer_comp:after{display: none;}
  .privacy_policy{display:block;margin:0 auto;padding:0;}
  .privacy_policy:before, .privacy_policy:after{display: none;}
  
  /*Others*/
  #wpadminbar {position: fixed!important;}
  .col2, .col3{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .thumb_left_dd, .thumb_right_dd, .thumb_center_dd{display: none;}
  main .bullet{padding-left:10px;}

  /*For (AddThis) Plugins*/
  .withAddThis_plugins {bottom: 48px;}
  .withAddThis_ftr_btm {padding: 0 10px 88px;}
  /*End (AddThis) Plugins*/

  /* .tel {background: url(../images/phone-icon.png) no-repeat center, var(--primaryColor); width: 50px; aspect-ratio: 1/1; display: block; margin: 0 auto; position: relative;  border-radius: 100%; border: 1px solid var(--white);} */
  
  /* .tel2{background: url(../images/phone-icon2.png) no-repeat center, var(--primaryColor);}
  .tel_flex{display: flex;justify-content: center;gap: 15px;margin: 15px 0 0;}
  .header_info ul li:before{display: none;}
  .mark_block {display: block !important;} */

  .tel{display: block; background: url(../images/phone-icon.png) no-repeat center, var(--primaryColor); width: 50px; aspect-ratio: 1/1; margin: 0 auto 15px; border-radius: 5px; border: 1px solid var(--black);}
  .header_info ul li:before{display: none;}
  .mail{background: url(../images/mail.png) no-repeat center, var(--primaryColor); width: 50px; aspect-ratio: 1/1; display: block; margin: 10px auto 0; border-radius: 5px; } 
  .remove{ display: none !important;}
  .tel:hover{animation:tada 1s;}
  .mail:hover{animation:tada 1s;}

  /* Toggle Right Nav */
  /* .toggle_right_nav nav.toggle_right_style{padding: 40px 0;background: #F5AA27;}
  .toggle_right_nav .menu_slide_right{padding: 0;}
  .toggle_right_nav .logo_slide_right{display: none;}
  .toggle_right_nav .toggle_holder small{display: none;}
  .toggle_right_nav .hamburger-box{width: 30px;display: grid;place-items: center;}
  .toggle_right_nav .hamburger-inner, .toggle_right_nav .hamburger-inner:before, .toggle_right_nav .hamburger-inner:after{width: 20px;background: var(--white);}
  .toggle_right_nav .menu_slide_right .toggle_holder{}
  .toggle_right_nav .page_nav ul{}
  .toggle_right_nav .page_nav ul li{}
  .toggle_right_nav .page_nav ul li a{background: unset;border: unset !important;line-height: 50px;}
  .toggle_right_nav .page_nav ul li a:hover, .toggle_right_nav .page_nav ul li a:active, .toggle_right_nav .page_nav ul li.current_page_item > a{text-decoration: underline; text-align: left; background: unset; border:unset;} */

  /* hamburger button */
  .nav_toggle_button small{display: none;}
  .nav_toggle_button .hamburger-inner:before,   .nav_toggle_button .hamburger-inner:after{width: 24px;}
  .nav_toggle_button .hamburger-inner, .nav_toggle_button .hamburger-box{width: 28px;}
  .nav_toggle_button.active .hamburger-inner::after, .nav_toggle_button.active .hamburger-inner::before{width: 28px;}
  
    /* NH Styles */
    .cta { width: 100%; }
    .cta h2{ width:250px; font-size: 16px;}
    .serv_boxes section { width: 100%;}
    .about_us_boxes section { width: 400px; max-width: 100%; }
    .about_us_boxes { row-gap: 110px; }
    .serv_box ul li {width: 400px; }
    .serv_box ul li::before { inset: 0; }
    .services_box ul li { width: 400px; max-width: 100%; }

}

@media only screen
and (max-width : 500px) {
  .h2_title{font-size: 38px !important;}
  .h2_title small{}

  .bnr_info h2{}
  main .h1_title{}
  .middle_info h2{}
  .btm1_info h2{}
  .btm2_info h2{}
  .btm3_info h2{}
  .btm4_info h2{}
  .btm5_info h2{}
  .contact_info h2{}
  .contact_info2 h2{}

}
